body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 120%;
  background-image: url("https://i.pinimg.com/564x/cb/c2/a8/cbc2a8dcef6077c23ccef4bc995c7dc1.jpg");
  background-size: 100% 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-left: 25px;
}

.navbar-brand {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 15px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.card {
  background-color: #000000af;
  padding: 2em;
  position: relative;
  color: white;
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: auto;
  margin-top: 20px;
  box-shadow: 1px 3px 5px rgba(141, 138, 138, 0.1);
}

.hourly-forecast-container {
  display: flex;
  justify-content: flex-start;
  bottom: 0;
  overflow-x: auto;
  padding: 10px 0;
  background: transparent;
  max-width: 66vw;
  margin-top: 20px;
}

.hourly-forecast-container::-webkit-scrollbar {
  display: none;
}

.hourly-forecast-item {
  flex: 0 0 auto;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 10px;
  height: 136px;
  width: 129px;
  background-color: #000000af;
  overflow: hidden;
  font-size: small;
  display: flex;
  justify-content: center;
  color: white;
}

.hourly-forecast-item img {
  width: 60px;
  height: 51px;
}

.hourly-forecast-container p {
  font-size: 15px;
  margin-top: 0;
}

.search {
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator::before {
  content: "or";
  color: var(--light-gery);
  font-size: 27px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 30px;
  background-color: #00000085;
  color: white;
  font-size: 120%;
  width: calc(100% - 100px);
  font-family: "Roboto";
  letter-spacing: 2px;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 3em;
  width: 3em;
  outline: none;
  background-color: #00000085;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: #615a5a;
}

button.location-auto-detect {
  background-color: #00000090;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  height: 45px;
  width: 87%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 40px 10px 0px;
}

button.location-auto-detect:hover {
  background-color: #5b616096;
}

.weather {
  font-weight: bold;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading::after {
  position: absolute;
  top: 0;
  color: white;
  visibility: visible;
  content: "Page Loading...";
  font-weight: bold;
  left: 30px;
}

h1.city {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1em;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 0.9em;
}

.flex {
  display: flex;
  align-items: center;
  margin-left: -10px;
  margin-bottom: 0.5em;
}

.flex .description {
  text-transform: capitalize;
  margin-left: 8px;
}


.humidity {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.wind {
  margin-bottom: 0.5em;
}

.footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: -5px auto;
  padding: 0 20px;
}

.footer p {
  margin: 0;
}

.footer-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-nav li {
  display: inline-block;
  margin-right: 10px;
}

.footer-nav li:last-child {
  margin-right: 0;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: #ccc;
}

.autocomplete-list {
  position: absolute;
  top: calc(100% - 5px); 
  left: 10px;
  width: calc(100% - 75px); 
  max-height: 210px; 
  overflow-y: auto; 
  background-color: #000000fb;
  border: px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
  list-style: none;
  padding: 0;
  margin: 0;
  height: auto;
  overflow: hidden;
}

.autocomplete-list li {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.autocomplete-list li:hover {
  background-color: #5b616096; 
}

.autocomplete-list li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.autocomplete-list li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


@media screen and (max-width: 420px) {
  .card {
    border-radius: 35px;
    max-width: 272px;
    max-height: 357px;
    padding-top: 16px;
    margin-top: -10px;
  }

  .footer {
    bottom: 0;
    position: absolute;
  }

  .footer p {
    font-size: 14px;
  }

  .footer-nav {
    font-size: 14px;
  }

  .nav-item {
    font-size: smaller;
    margin-right: 0;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 120%;
    background-image: url("https://i.pinimg.com/564x/26/40/ef/2640ef1766e1ab49f65401190bb96ddd.jpg");
    background-size: 100% 100%;
    overflow: hidden;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif; 
  }

  input.search-bar {
    padding: 0.3em 0.8em;
    border-radius: 30px;
    background-color: #00000085;
    color: white;
    width: calc(100% - 100px);
    letter-spacing: 1px; 
  }

  ::placeholder {
    font-size: 15px;
  }

  button.location-auto-detect {
    height: 37px;
    width: 80%;
  }

  .hourly-forecast-container {
    width: 100vw;
    max-width: none;
    margin: 10px 0 0 0;
    padding: 10px 0;
    overflow-x: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
  }

  .hourly-forecast-item {
    height: 129px;
    width: 70px;
    margin: 0 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #000000af;
    color: white;
    font-size: small;
  }
}
